.deals-container{
    margin-top: clamp(22px, 4vw, 30px);
    margin-bottom: clamp(30px, 8vw, 60px);
    .deals{
        background-color: $bright1;
        padding: 20px clamp(19px, 5.1vw, 60px) clamp(20px, 4vw, 30px);
        max-width: 100%;
        margin-bottom: 20px;
        .title-icons{
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;
            .icons-container{
                display: flex;
                @mixin theme($deals: Icons) {
                    display: flex;
                    padding: 2px;
                    background-color: $bright2;
                    border-radius: 4px;
                    color: $text-color-medium;
                }
                .view{
                    @include theme($deals: Icons);
                    padding-right: 3px;
                }
                .filter-container{
                    position: relative;
                }
                .filter{
                    @include theme($deals: Icons);
                    margin-left: 10px;
                    box-shadow: $shadow1;
                }
                .filter:hover{
                    cursor: pointer;
                    background-color: $bright3;
                    box-shadow: $shadow2;
                }
            }
        }
        #search-form{
            padding: 3px 4px;
            max-height: 40px;
            max-width: calc(100% - 8px);
            margin-bottom: 32px;
            div{max-width: 100%;}
        }
        h2{
            all: unset;
            display: block;
            margin: 16px 0;
            font-size: 16px;
            line-height: 24px;
            word-break: break-word;
        }
        .game-deals-container{
            display: grid;
            gap: clamp(10px, 2.7vw, 24px);
            grid-template-columns: repeat(auto-fill, minmax(clamp(136px, 21vw, 200px), 1fr));
            grid-auto-rows: 246px;
            >.loading{
                position: relative;
                width: 100%;
                height: 100%;
                background-color: $bright2;
                border-radius: 12px;
                overflow: hidden;
                .shimmer-wrapper {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    animation: loading 2s infinite;
                    .shimmer {
                      width: 40%;
                      height: 100%;
                      background: $bright3;
                      transform: skewX(-20deg);
                      box-shadow: 0 0 30px 30px $bright3;
                    }
                }
            }
            @keyframes loading {
                0% {transform: translateX(-150%)}
                50% {transform: translateX(-85%)}
                100% {transform: translateX(150%)}
            }
            @media (min-width:484px) and (max-width:1299px) {
                .deal-game:last-child{display: none}
                .loading:last-child{display: none}
            }
        }
    }
    
    @media (min-width:900px) {
        margin-bottom: 120px;
        .deals{
            padding: 40px clamp(30px, 8vw, 140px);
            .game-deals-container{
                gap: 20px;
                grid-template-columns: repeat(auto-fill, minmax(clamp(200px, 20vw, 312px), 1fr));
                grid-auto-rows: 380px;
            }
        }
    }
    
    @media (min-width:1300px) and (max-width:1920px){
        .deals{
            .game-deals-container{grid-template-columns: repeat(5, 1fr)}
        }
    }
    
    @media (min-width:1921px){
        .deals{
            padding: 40px calc(50% - 1640px /2);
            .game-deals-container{grid-template-columns: repeat(5, 312px)}
        }
    }
}
