.individual-game-container{
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    &::-webkit-scrollbar{display: none}
    .individual-game-transparent-bg{
        width: 100%;
        height: 100vh;
        background-color: $dark1;
        opacity: 0.64;
    }
    .individual-game-bg{
        width: 100%;
        height: auto;
        background-color: $dark1;
        box-shadow: 0 0 6px 3px $shadow;
        position: absolute;
        top: 0;
        border-radius: 12px;
        padding: 25px 19px 32px;
        box-sizing: border-box;
        .title-btn{
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
            gap: 8px;
            .title{
                display: block;
                width: 100%;
                h3{
                    all: unset;
                    font-size: 20px;
                    font-family: $text-font-medium;
                    color: $text-color-high;
                    max-width: calc(100% - 24px);
                    max-height: fit-content;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    @supports (-webkit-line-clamp: 2) {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: initial;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
            }
            .btn-container{
                #btn-cmp{
                    padding: 2px;
                    min-width: 24px;
                    .MuiButton-iconSizeMedium{
                        margin: 0;
                    }
                }
            }
        }
        .game-img{
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            height: 157px;
            border-radius: 12px;
            margin-bottom: 32px;
            img{
                width: 100%;
                min-height: 100%;
            }
        }
        .color-title{margin-bottom: 16px}
        .stores-list{
            max-height: 360px;
            overflow-y: auto;
        }
        >.loading{
            width: 100%;
            height: 74px;
            background-color: $background-color;
            border-radius: 4px;
            margin-top: 8px;
            position: relative;
            overflow: hidden;
            .shimmer-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                animation: loading 1.5s infinite;
                .shimmer {
                  width: 40%;
                  height: 100%;
                  background: $bright1;
                  transform: skewX(-20deg);
                  box-shadow: 0 0 30px 30px $bright1;
                }
            }
            @keyframes loading {
                0% {transform: translateX(-60%)}
                100% {transform: translateX(140%)}
            }
        }
        .store-card-container{
            width: 100%;
            height: 74px;
            background-color: $background-color;
            border-radius: 4px;
            padding: 8px;
            box-sizing: border-box;
            display: flex;
            cursor: pointer;
            margin-top: 8px;
            .store-img-bg{
                width: 57px;
                height: 57px;
                background-color: $bright1;
                border-radius: 4px;
                margin-right: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                .store-img{
                    width: 35px;
                    height: 35px;
                }
            }
            .store-data{
                font-size: 16px;
                color: $text-color-high;
                font-family: $text-font-regular;
                width: calc(100% - 57px);
                .store-title{
                    max-width: 231px;
                    max-height: 19px;
                    margin-bottom: 10px;
                }
                .store-price-data{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    width: 100%;
                    .store-price-savings{
                        display: flex;
                        .store-price{
                            padding: 4px;
                            background-color: $redbrand;
                            border-radius: 4px;
                            margin-right: 8px;
                        }
                        .store-fullprice{
                            font-size: 12px;
                            color: $text-color-medium;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
        @media (pointer: fine){
            .store-card-container:hover{
                filter: brightness(0.6);
            }
        }
        >.btn-container{
            display: flex;
            justify-content: center;
            margin-top: 16px;
            #btn-cmp{
                padding: 10px 6px;
                line-height: normal;
            }
        }
    }
    @media (min-width: 520px) {
        .individual-game-bg{
            width: clamp(425px, 85vw, 648px);
            top: 3%;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            padding: 25px 16px 32px;
            .game-img{
                height: 219px;
            }
            .store-card-container{
                .store-data{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .store-title{
                        margin-bottom: 0;
                    }
                    .store-price-data{
                        flex-direction: row-reverse;
                        align-items: center;
                        justify-content: flex-start;
                        width: auto;
                        .store-price-savings{
                            flex-direction: row-reverse;
                            margin-left: 50px;
                            .store-price{
                                margin-left: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 1024px) {
        .individual-game-bg{
            width: clamp(648px, 85vw, 1097px);
            padding: 24px;
            .title-btn{
                .title{
                    h3{
                        font-size: 24px;
                    }
                }
            }
            .game-img{
                height: 283px;
            }
            .color-title{margin-bottom: 23px}
            .store-card-container{
                .store-data{
                    font-size: 20px;
                }
            }
        }
    }
}