.navbar{
    background-color: $bright1;
    height: 58px;
    display: flex;
    align-items: center;
    padding: 0 19px 0 35px;
    justify-content: space-between;
    .buttons{
        display: none;
    }
}
#menu-home, #menu-next, #menu-contact{
    text-transform: none;
}

@media (min-width:600px) {
    .navbar{
        padding: 0 30px 0 73px;
    }
}

@media (min-width:900px) {
    .navbar{
        height: 85px;
        padding: 0 clamp(73px, 12vw, 140px);
        #search-form{
            max-width: clamp(156px, 21vw, 337px)
        }
        .logo{
            width: 64px;
            height: 64px;
            margin-right: clamp(105px, 11vw, 210px);
        }
        .buttons{
            display: flex;
            width: 274px;
            min-width: 233px;
            justify-content: space-between;
            a{
                color: $text-color-high;
                text-transform: none;
            }
        }
        .hamburger-menu{
            display: none;
        }
    }
}

@media (min-width: 1921px) {
    .navbar {
        padding: 40px calc(50% - 820px);
    }
}