.color-title{
    display: flex;
    align-items: center;
    .color{
        width: 9px;
        height: 20px;
        background-color: $redbrand;
        border-radius: 2px;
        margin-right: 8px;
        box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    }
    .title{
        font-size: 16px;
        text-shadow: $bright2 1px 0px 0px, $bright2 0.540302px 0.841471px 0px, $bright2 -0.416147px 0.909297px 0px, $bright2 -0.989992px 0.14112px 0px, $bright2 -0.653644px -0.756802px 0px, $bright2 0.283662px -0.958924px 0px, $bright2 0.96017px -0.279415px 0px;
        color: $text-color-high;
        font-family: $text-font-medium;
    }
    @media screen and (min-width:900px) {
        .color{
            width: clamp(9px, 1vw, 14px);
            height: clamp(20px, 2vw, 30px);
        }
        .title{
            font-size: clamp(16px, 2vw, 24px);
        }
    }
}