footer{
    width: 100%;
    padding: 30px clamp(19px, 5.1vw, 60px) 20px;
    background: $dark1;
    box-sizing: border-box;
    .title-container{
        display: flex;
        justify-content: space-between;
        padding-bottom: 16px;
        h2{
            all: unset;
            font-family: $text-font-medium;
            padding-right: 8px;
        }
        .btn-container > #btn-cmp{
            min-width: unset;
            padding: 0;
            span{
                margin-right: 0;
                margin-left: 0;
                font-size: 24px;
            }
        }
        #btn-cmp:hover{
            filter: brightness(0.8);
        }
    }
    .icons-container{
        display: flex;
        align-items: center;
        width: 238px;
        gap: 16px;
        padding-bottom: 16px;
        a{
            background: $bright1;
            border-radius: 4px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2px;
            padding: 0 2px;
            box-sizing: border-box;
            min-height: 24px;
            min-width: 24px;
        }
        @media (pointer: fine){
            a:hover{
                filter: brightness(0.8);
            }
        }
    }
    .footer-navigaation{
        display: flex;
        gap: 16px;
        a{
            text-decoration: none;
            font-family: $text-font-medium;
            font-size: 16px;
            color: $text-color-medium;
            margin-bottom: 16px;
        }
    }
    p{
        all: unset;
        display: block;
        font-size: 14px;
        color: $text-color-medium;
        padding-top: 24px;
        max-width: 482px;
        a{
            color: $text-color-medium;
        }
    }
    p:first-of-type{
        padding-top: 0;
        padding-bottom: 16px;
    }
    hr{
        all: unset;
        display: block;
        width: 100%;
        border: 1px solid $bright2;
    }
}

@media (min-width: 900px){
    footer{
        padding: 64px clamp(30px, 8vw, 140px);
        .title-container{
            h2{
                font-size: 20px;
            }
        }
        .footer-navigaation{
            a{
                font-size: 16px;
            }
        }
        p{
            font-size: 14px;
            max-width: 812px;
        }
    }
}

@media (min-width:1920px){
    footer{
        padding: 64px calc(50% - 1640px /2);
    }
}