$background-color: #121212;
$text-color-high: #e0e0e0;
$text-color-medium: #a0a0a0;
$text-color-disabled: #6c6c6c;
$bright1: #383838;
$bright2: #585858;
$bright3: #737373;
$dark1: #252525;
$redbrand: #F74843;

$logo-font-regular: 'BlankaRegular';
$text-font-black: "RobotoBlack";
$text-font-medium: 'RobotoMedium';
$text-font-regular: 'RobotoRegular';