$background-color: #121212;
$text-color-high: #e0e0e0;
$text-color-medium: #a0a0a0;
$text-color-disabled: #6c6c6c;
$bright1: #383838;
$bright2: #585858;
$bright3: #737373;
$dark1: #252525;
$redbrand: #F74843;
$shadow: #0000003D;
$shadow1: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
$shadow2: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);

$logo-font-regular: 'BlankaRegular';
$text-font-black: "RobotoBlack";
$text-font-medium: 'RobotoMedium';
$text-font-regular: 'RobotoRegular';